<div class="panel panel-default contact-card">
    <div class="panel-heading">
        <h3 class="panel-title text-center"><a href="#"><%= contact_card.name%></a></h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(contact_card.emails[0]) unless contact_card.emails.empty?%>" alt="" class="img-thumbnail picture"/>
        </div>
    </div>
    <table class="table table-striped table-responsive table-bordered">
        <tr>
            <td class="text-right">Email</td>
            <td class="text-left">
                <% if contact_card.emails.empty?%>
                    N/A
                <% else %>
                    <%= contact_card.emails.first%>
                <% end%>
            </td>
        </tr>
        <tr>
            <td class="text-right">Phone</td>
            <td class="text-left">
                <% if contact_card.phones.empty?%>
                    N/A
                <% else %>
                    <%= contact_card.phones.first%>
                <% end%>
            </td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="text-right">
            <a href="<%= contact_path contact_card%>" class="btn btn-primary btn-sm"
               data-toggle="tooltip"
               data-placement="top"
               title="View details"><i class="fa fa-info-circle"></i></a>
            <a href="<%= edit_contact_path contact_card%>" class="btn btn-info btn-sm"
               data-toggle="tooltip"
               data-placement="top"
               title="Edit"><i class="fa fa-edit"></i></a>
            <a href="#" class="btn btn-danger btn-sm btn-delete-contact"
               data-toggle="tooltip"
               data-placement="top"
               data-id="<%= contact_card.id%>"
               title="Delete"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
</div>

<script>
    $('.btn-delete-contact').confirm({
        text: "Really want to delete?",
        title: "Confirmation required",
        confirm: function(button) {
            var contactId = button.data('id');
            location.href = '/contacts/delete/' + contactId
        },
        cancel: function(button) {},
        confirmButton: "Delete",
        cancelButton: "Cancel",
        post: false,
        confirmButtonClass: "btn-danger",
        cancelButtonClass: "btn-default",
        dialogClass: "modal-dialog modal-sm" // Bootstrap classes for large modal
    });
</script>